/*http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/*/
#wrap
{
    width: 750px;
}
    #main {
    float:left;
    width:500px;
    }
    #sidebar {
    float:right;
    width:250px;
    }
#footer
{
    clear: both;
}
    #nav ul {
    margin:0;
    padding:0;
    list-style:none;
    }
    #nav li {
    display:inline;
    margin:0;
    padding:0;
    }
